<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Players</title>
</head>

<body>

<h3>Players</h3>
<br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Player Name</th>
        <th>USER ID</th>
        <th>USER ROLE ID</th>
        <th>USER ROLE NAME</th>
        <th>USER NAME</th>
        <th>USER USERNAME</th>
        <th>USER PASSWORD</th>
        <th>USER IS ADMIN</th>
    </tr>
    <tr th:each="player: ${allPlayers}">
        <td th:text="${player.id}"></td>
        <td th:text="${player.playerName}"></td>
        <td th:text="${player.user.userId}"></td>
        <td th:text="${player.user.userRole.roleId}"></td>
        <td th:text="${player.user.userRole.roleName}"></td>
        <td th:text="${player.user.name}"></td>
        <td th:text="${player.user.username}"></td>
        <td th:text="${player.user.password}"></td>
        <td th:text="${player.user.isAdmin}"></td>

        <td>
            <form th:action="@{/players/deletePlayer/{id}(id=${player.id})}">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <form th:action="@{/players/updatePlayer/{id}(id=${player.id})}" method="post">
                <input type="submit" value="Update">
            </form>
        </td>
    </tr>
</table>

<br/>
<hr/>
<br/>

<form th:action="@{/players/addPlayer}" method="get">
    <input type="submit" value="Add new player"/> <br/><br/>
</form>

<form th:action="@{/}" method="get">
    <input type="submit" value="To homepage"> <br/><br/>
</form>

</body>

</html>