<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User roles</title>
</head>

<body>

<h3>Roles</h3>
<br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>NAME</th>
    </tr>
    <tr th:each="role: ${allRoles}">
        <td th:text="${role.roleId}"></td>
        <td th:text="${role.roleName}"></td>
    </tr>
</table>

<br/><br/>

<form th:action="@{/roles/addRole}" method="get">
    <input type="submit" value="Add new role"> <br/><br/>
</form>

<form th:action="@{/}" method="get">
    <input type="submit" value="To homepage"> <br/><br/>
</form>

</body>

</html>