<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>

<body>

<h3>Team form</h3>
<hr/>

<form th:action="@{/teams/commitTeam/}" th:object="${team}" method="post">
    Name: <input type="text" name="teamName" th:field="*{teamName}"/> <br/><br/>
    Select user for this team:
    <select th:field="*{user.userId}" th:required="true">
        <option th:each="user : ${allUsers}" th:value="${user.userId}" th:text="${user.username}">

        </option>
    </select>
    <br/><br/>

    <input type="text" th:value="${team.teamId}" th:hidden="true" th:field="*{teamId}"/>
    <button type="submit" name="submit" value="submit">Submit</button>
</form>

<hr/>

<form th:action="@{/teams/}" method="get">
    <input type="submit" value="Cancel"> <br/><br/>
</form>

</body>

</html>