<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>

<body>

<h3>Teams</h3>
<br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>TOURNAMENT Name</th>
        <th>USER ID</th>
        <th>USER ROLE ID</th>
        <th>USER ROLE NAME</th>
        <th>USER NAME</th>
        <th>USER USERNAME</th>
        <th>USER PASSWORD</th>
        <th>USER IS ADMIN</th>
        <th>VENUE</th>
        <th>START DATE</th>
        <th>END DATE</th>
    </tr>
    <tr th:each="tournament: ${allTournaments}">
        <td th:text="${tournament.tournamentId}"></td>

        <td th:text="${tournament.user.userId}"></td>
        <td th:text="${tournament.user.userRole.roleId}"></td>
        <td th:text="${tournament.user.userRole.roleName}"></td>
        <td th:text="${tournament.user.name}"></td>
        <td th:text="${tournament.user.username}"></td>
        <td th:text="${tournament.user.password}"></td>
        <td th:text="${tournament.user.isAdmin}"></td>

        <td th:text="${tournament.tournamentName}"></td>
        <td th:text="${tournament.venue}"></td>
        <td th:text="${tournament.startDate}"></td>
        <td th:text="${tournament.endDate}"></td>

        <td>
            <form th:action="@{/tournaments/deleteTournament/{id}(id=${tournament.tournamentId})}">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <form th:action="@{/tournaments/updateTournament/{id}(id=${tournament.tournamentId})}" method="post">
                <input type="submit" value="Update">
            </form>
        </td>
    </tr>
</table>

<br/>
<hr/>
<br/>

<form th:action="@{/tournaments/addTournament}" method="get">
    <input type="submit" value="Add new tournament"/> <br/><br/>
</form>

<form th:action="@{/}" method="get">
    <input type="submit" value="To homepage"> <br/><br/>
</form>

</body>

</html>